lib/python/crewlists/schema/ExternalSystems/CrewListKeyList.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<!ELEMENT std (#PCDATA)>
<!ELEMENT startDateLt (#PCDATA)>
<!ELEMENT depStation (#PCDATA)>
<!ELEMENT crewRespons (#PCDATA)>
<!ELEMENT arrStation (#PCDATA)>
<!ELEMENT actKey ((actId, startDateLt, depStation, arrStation, std))>
<!ELEMENT actId (#PCDATA)>
<!ELEMENT CrewListKeyList ((crewRespons, actKey))>
