lib/python/crewlists/schema/ExternalSystems/UCLegalityDetailsRequest.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<!ELEMENT warnings EMPTY>
<!ELEMENT timeOffToNextDuty EMPTY>
<!ELEMENT timeOffMinRequired EMPTY>
<!ELEMENT timeOffLast24Hrs EMPTY>
<!ELEMENT taIndicator EMPTY>
<!ELEMENT stop EMPTY>
<!ELEMENT stdTime EMPTY>
<!ELEMENT statInfo ((UCLegalityStat))>
<!ELEMENT startDate (#PCDATA)>
<!ELEMENT staTime EMPTY>
<!ELEMENT slip EMPTY>
<!ELEMENT showNI (#PCDATA)>
<!ELEMENT pointsStartTime EMPTY>
<!ELEMENT pointsRestOnBoard EMPTY>
<!ELEMENT pointsRestCaRest EMPTY>
<!ELEMENT pointsRest EMPTY>
<!ELEMENT pointsPeriodType EMPTY>
<!ELEMENT pointsPerHour EMPTY>
<!ELEMENT pointsInfo ((UCLegalityPointsInfo))>
<!ELEMENT pointsEndTime EMPTY>
<!ELEMENT points7Pass EMPTY>
<!ELEMENT points7F EMPTY>
<!ELEMENT points7B EMPTY>
<!ELEMENT points EMPTY>
<!ELEMENT perkey (#PCDATA)>
<!ELEMENT passive EMPTY>
<!ELEMENT packedSchedule EMPTY>
<!ELEMENT offDutyStation EMPTY>
<!ELEMENT mealStopIndicator EMPTY>
<!ELEMENT maxPointsDutyPass EMPTY>
<!ELEMENT maxPoints7 EMPTY>
<!ELEMENT maxDutP EMPTY>
<!ELEMENT maxDut7 EMPTY>
<!ELEMENT maxDut3 EMPTY>
<!ELEMENT maxDut1 EMPTY>
<!ELEMENT longTermRest EMPTY>
<!ELEMENT lofDecimal EMPTY>
<!ELEMENT lof EMPTY>
<!ELEMENT legalityInfo ((UCLegalityInfo))>
<!ELEMENT isOffDuty EMPTY>
<!ELEMENT isInfo EMPTY>
<!ELEMENT fatigueDecimal EMPTY>
<!ELEMENT fatigue1Decimal EMPTY>
<!ELEMENT fatigue EMPTY>
<!ELEMENT endDate (#PCDATA)>
<!ELEMENT dutyInfo ((UCLegalityDutyInfo))>
<!ELEMENT dutyHours EMPTY>
<!ELEMENT dutyCode EMPTY>
<!ELEMENT dutP EMPTY>
<!ELEMENT dutNight EMPTY>
<!ELEMENT dut7 EMPTY>
<!ELEMENT dut3 EMPTY>
<!ELEMENT dut1 EMPTY>
<!ELEMENT depTime EMPTY>
<!ELEMENT depStation EMPTY>
<!ELEMENT coTime EMPTY>
<!ELEMENT ciTime EMPTY>
<!ELEMENT ciDate EMPTY>
<!ELEMENT blockHours EMPTY>
<!ELEMENT arrTime EMPTY>
<!ELEMENT arrStation EMPTY>
<!ELEMENT activityName EMPTY>
<!ELEMENT activityInfo ((UCLegalityActivityInfo))>
<!ELEMENT activityDateUTC EMPTY>
<!ELEMENT activeLandings EMPTY>
<!ELEMENT actPoints7 EMPTY>
<!ELEMENT actMaxPointInfo ((UCLegalityActMaxPointInfo))>
<!ELEMENT actMaxDutyInfo ((UCLegalityActMaxDutyInfo))>
<!ELEMENT actDutP EMPTY>
<!ELEMENT actDut7 EMPTY>
<!ELEMENT actDut3 EMPTY>
<!ELEMENT actDut1 EMPTY>
<!ELEMENT UCLegalityStat ((blockHours, dutyHours))>
<!ELEMENT UCLegalityPointsInfo ((pointsStartTime, pointsEndTime, pointsPerHour, points, pointsPeriodType, pointsRestOnBoard, pointsRestCaRest))>
<!ELEMENT UCLegalityInfo ((dutyInfo, pointsInfo, activityInfo, actMaxDutyInfo, actMaxPointInfo))>
<!ELEMENT UCLegalityDutyInfo ((ciDate, ciTime, coTime, activeLandings, dutP, dutNight, dut1, dut3, dut7, offDutyStation, timeOffToNextDuty, slip, timeOffMinRequired, timeOffLast24Hrs, fatigue, pointsRest, longTermRest, lof))>
<!ELEMENT UCLegalityDetails ((perkey, startDate, endDate, showNI, packedSchedule, warnings, legalityInfo, statInfo))>
<!ELEMENT UCLegalityActivityInfo ((activityDateUTC, activityName, isInfo, isOffDuty, depTime, arrTime, taIndicator, depStation, arrStation, stdTime, staTime, dutyCode, stop, mealStopIndicator))>
<!ELEMENT UCLegalityActMaxPointInfo ((maxPointsDutyPass, fatigue1Decimal, lofDecimal, fatigueDecimal, passive, maxPoints7, points7Pass, actPoints7, points7F, points7B))>
<!ELEMENT UCLegalityActMaxDutyInfo ((maxDutP, actDutP, maxDut1, actDut1, maxDut3, actDut3, maxDut7, actDut7))>
