lib/python/crewlists/schema/crewLegDetailsReply.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) by Steven Laursen (CSC Airline solutions Danmark) -->
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:complexType name="UCLegalityDetails">
		<xs:sequence>
			<xs:element ref="crewLegalityInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="crewLegalityInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UCCrewLegalityInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UCCrewLegalityInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="empno"/>
				<xs:element ref="error" minOccurs="0"/>
				<xs:element ref="agreementName" minOccurs="0"/>
				<xs:element ref="warningList" minOccurs="0"/>
				<xs:element ref="packedSchedules"/>
				<xs:element ref="legalityInfo"/>
				<xs:element ref="statInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="empno" type="xs:string"/>
	<xs:element name="error">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UCScheduleError" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UCScheduleError">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="scheduleError"/>
				<xs:element ref="errorPosition" minOccurs="0"/>
				<xs:element ref="errorText" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="scheduleError" type="xs:string"/>
	<xs:element name="errorPosition" type="xs:string"/>
	<xs:element name="errorText" type="xs:string"/>
	<xs:element name="agreementName" type="xs:string"/>
	<xs:element name="warningList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UCWarning" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UCWarning">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="warningDate"/>
				<xs:element ref="warningId"/>
				<xs:element ref="warningMask"/>
				<xs:element ref="warningLimit"/>
				<xs:element ref="warningActual"/>
				<xs:element ref="warningOverShoot"/>
				<xs:element ref="warningLimitExec"/>
				<xs:element ref="warningText"/>
				<xs:element ref="forcedFlag"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="warningDate" type="xs:date"/>
	<xs:element name="warningId" type="xs:string"/>
	<xs:element name="warningMask" type="xs:string"/>
	<xs:element name="warningLimit" type="xs:string"/>
	<xs:element name="warningActual" type="xs:string"/>
	<xs:element name="warningOverShoot" type="xs:string"/>
	<xs:element name="warningLimitExec" type="xs:string"/>
	<xs:element name="warningText" type="xs:string"/>
	<xs:element name="forcedFlag" type="xs:string"/>
	<xs:element name="packedSchedules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UCLegalityPackedSchedule" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UCLegalityPackedSchedule">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="packedRoster" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="legalityInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UCLegalityInfo" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dutyInfo"/>
							<xs:element ref="pointsInfo"/>
							<xs:element ref="activityInfo"/>
							<xs:element ref="actMaxDutyInfo"/>
							<xs:element ref="actMaxPointInfo"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UCLegalityInfo"/>
	<xs:element name="dutyInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UCLegalityDutyInfo" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dpDate"/>
							<xs:element ref="dutyPassIndicator"/>
							<xs:element ref="ciDate"/>
							<xs:element ref="ciTime"/>
							<xs:element ref="coDate"/>
							<xs:element ref="coTime"/>
							<xs:element ref="activeLandings"/>
							<xs:element ref="dutP"/>
							<xs:element ref="dutNight"/>
							<xs:element ref="dut1"/>
							<xs:element ref="dut3"/>
							<xs:element ref="dut7"/>
							<xs:element ref="offDutyStation"/>
							<xs:element ref="timeOffToNextDuty"/>
							<xs:element ref="slip"/>
							<xs:element ref="timeOffMinRequired"/>
							<xs:element ref="timeOffLast24Hrs"/>
							<xs:element ref="fatigue"/>
							<xs:element ref="pointsRest"/>
							<xs:element ref="longTermRest"/>
							<xs:element ref="lof"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dpDate" type="xs:date"/>
	<xs:element name="dutyPassIndicator" type="xs:integer"/>
	<xs:element name="ciDate" type="xs:date"/>
	<xs:element name="ciTime" type="xs:time"/>
	<xs:element name="coDate" type="xs:date"/>
	<xs:element name="coTime" type="xs:time"/>
	<xs:element name="activeLandings" type="xs:integer"/>
	<xs:element name="dutP" type="xs:duration"/>
	<xs:element name="dutNight" type="xs:duration"/>
	<xs:element name="dut1" type="xs:duration"/>
	<xs:element name="dut3" type="xs:duration"/>
	<xs:element name="dut7" type="xs:duration"/>
	<xs:element name="offDutyStation" type="xs:string"/>
	<xs:element name="timeOffToNextDuty" type="xs:duration"/>
	<xs:element name="slip" type="xs:duration"/>
	<xs:element name="timeOffMinRequired" type="xs:duration"/>
	<xs:element name="timeOffLast24Hrs" type="xs:duration"/>
	<xs:element name="fatigue" type="xs:integer"/>
	<xs:element name="pointsRest" type="xs:integer"/>
	<xs:element name="longTermRest">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lof" type="xs:integer"/>
	<xs:element name="pointsInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UCLegalityPointsInfo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UCLegalityPointsInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UCLegalityPoint" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UCLegalityPoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sortOrder" type="xs:integer"/>
				<xs:element ref="periodApplies"/>
				<xs:element ref="pointsStartTime"/>
				<xs:element ref="pointsEndTime"/>
				<xs:element ref="pointsPerHour"/>
				<xs:element ref="points"/>
				<xs:element ref="pointsPeriodType"/>
				<xs:element ref="pointsRestOnBoard"/>
				<xs:element ref="pointsRestCaRest"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="periodApplies">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pointsStartTime" type="xs:dateTime"/>
	<xs:element name="pointsEndTime" type="xs:dateTime"/>
	<xs:element name="pointsPerHour" type="xs:integer"/>
	<xs:element name="points" type="xs:integer"/>
	<xs:element name="pointsPeriodType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pointsRestOnBoard">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pointsRestCaRest">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="activityInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UCLegalityActivityInfo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UCLegalityActivityInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="activityDate"/>
				<xs:element ref="activityDateUTC"/>
				<xs:element ref="activityName"/>
				<xs:element ref="isFlight"/>
				<xs:element ref="isGround"/>
				<xs:element ref="isInfo"/>
				<xs:element ref="isOffDuty"/>
				<xs:element ref="depTime"/>
				<xs:element ref="arrTime"/>
				<xs:element ref="depStation"/>
				<xs:element ref="arrStation"/>
				<xs:element ref="stdTime"/>
				<xs:element ref="staTime"/>
				<xs:element ref="stop"/>
				<xs:element ref="mealStopIndicator"/>
				<xs:element ref="taIndicator"/>
				<xs:element name="dutyCode" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="activityDate" type="xs:date"/>
	<xs:element name="activityDateUTC" type="xs:date"/>
	<xs:element name="activityName" type="xs:string"/>
	<xs:element name="isFlight">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="isGround">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="isInfo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="isOffDuty">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="depTime" type="xs:time"/>
	<xs:element name="arrTime" type="xs:time"/>
	<xs:element name="depStation" type="xs:string"/>
	<xs:element name="arrStation" type="xs:string"/>
	<xs:element name="stdTime" type="xs:time"/>
	<xs:element name="staTime" type="xs:time"/>
	<xs:element name="stop" type="xs:string"/>
	<xs:element name="mealStopIndicator">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="taIndicator">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="actMaxDutyInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UCLegalityActMaxDutyInfo" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dpDate"/>
							<xs:element ref="maxDutP"/>
							<xs:element ref="actDutP"/>
							<xs:element ref="maxDut1"/>
							<xs:element ref="actDut1"/>
							<xs:element ref="dut1F"/>
							<xs:element ref="dut1B"/>
							<xs:element ref="maxDut3"/>
							<xs:element ref="actDut3"/>
							<xs:element ref="dut3F"/>
							<xs:element ref="dut3B"/>
							<xs:element ref="maxDut7"/>
							<xs:element ref="actDut7"/>
							<xs:element ref="dut7F"/>
							<xs:element ref="dut7B"/>
							<xs:element ref="accumulatedDuty7F"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxDutP" type="xs:duration"/>
	<xs:element name="actDutP" type="xs:duration"/>
	<xs:element name="maxDut1" type="xs:duration"/>
	<xs:element name="actDut1" type="xs:duration"/>
	<xs:element name="dut1F" type="xs:duration"/>
	<xs:element name="dut1B" type="xs:duration"/>
	<xs:element name="maxDut3" type="xs:duration"/>
	<xs:element name="actDut3" type="xs:duration"/>
	<xs:element name="dut3F" type="xs:duration"/>
	<xs:element name="dut3B" type="xs:duration"/>
	<xs:element name="maxDut7" type="xs:duration"/>
	<xs:element name="actDut7" type="xs:duration"/>
	<xs:element name="dut7F" type="xs:duration"/>
	<xs:element name="dut7B" type="xs:duration"/>
	<xs:element name="accumulatedDuty7F" type="xs:duration"/>
	<xs:element name="actMaxPointInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UCLegalityActMaxPointInfo" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dpDate"/>
							<xs:element ref="maxPointsDutyPass"/>
							<xs:element ref="fatigue1Decimal"/>
							<xs:element ref="lofDecimal"/>
							<xs:element ref="fatigueDecimal"/>
							<xs:element ref="passive"/>
							<xs:element ref="maxPoints7"/>
							<xs:element ref="points7Pass"/>
							<xs:element ref="actPoints7"/>
							<xs:element ref="points7F"/>
							<xs:element ref="points7B"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="maxPointsDutyPass" type="xs:integer"/>
	<xs:element name="fatigue1Decimal" type="xs:decimal"/>
	<xs:element name="lofDecimal" type="xs:decimal"/>
	<xs:element name="fatigueDecimal" type="xs:decimal"/>
	<xs:element name="passive" type="xs:integer"/>
	<xs:element name="maxPoints7" type="xs:decimal"/>
	<xs:element name="points7Pass" type="xs:decimal"/>
	<xs:element name="actPoints7" type="xs:decimal"/>
	<xs:element name="points7F" type="xs:integer"/>
	<xs:element name="points7B" type="xs:integer"/>
	<xs:element name="statInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UCLegalityStat" minOccurs="12" maxOccurs="12">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="month"/>
							<xs:element ref="blockHours"/>
							<xs:element ref="dutyHours"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="month" type="xs:date"/>
	<xs:element name="blockHours" type="xs:duration"/>
	<xs:element name="dutyHours" type="xs:duration"/>
</xs:schema>
