lib/python/crewlists/schema/crewLandingReply.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by XMLSPY 2006 Professional Ed. Release 3, Installed for 3 users (with SMP from 2006-06-22 to 2008-06-22) (CSC Airline solutions Danmark) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="crewLanding">
		<xs:sequence>
			<xs:element name="uplinkMessage" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="version" type="xs:string"/>
	</xs:complexType>
</xs:schema>
